!!!
html
  head
    title Phonebook.js
    script(src='/js/jquery.js')
    script(src='/js/jqcookie.js')
    script(src='/js/ember.js')
    script(src='/js/racer.js')
    script(src='/js/datamapper.js')
    script(src='/js/forms.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body(class="container-fluid")!= body
